// color variables

$primary-color: #2b2b2b;
$accent-color: #769aa5;
$secondary-color: #50fa7b;

@import "./components/Menu";
@import "./components/Output";
@import "./components/Input";

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html,
body {
  height: 100vh;
  width: 100%;
}
.webpage {
  display: flex;
  flex-direction: column;
  height: 100vh;
}
#app-holder {
  height: 90%;
  width: 100%;
  display: flex;
  flex-direction: row;
}
@media only screen and (max-width: 500px) {
  .webpage {
    height: auto;
  }
  #app-holder {
    flex-direction: column;
    .input {
      width: 100%;
      height: 50vh;

      #addFile {
        top: 70px;
        right: 5%;
      }
      textarea {
        height: 100%;
      }
    }
    .output {
      width: 100%;
    }
  }
}
